form {
    text-align: center;
    margin: auto;
    width: 25%;
}

div {
    font-family: 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
}

table {
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
}

tr > th {
    padding: 2px;
    min-width: 200px;
    background: #aaaaaa;
}

tr > td {
    padding: 2px;
    min-width: 200px;
    text-align: left;
    background: #ff7f50;
}

.fruitsname {
    min-width: 300px;
}

input {
    margin: 2px 20px;
}

form button {
    margin: 10px 0;
}